<!DOCTYPE html>
<html>
   <head>
      <title>Главная страница</title>
      <meta charset="utf-8">
       {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static "/shedule/style.css" %}">
   </head>
   <body>
      <div class="container header clearfix">
         <div class="head head-1"><a href="main.html"><img src="" alt="small_logo"></a></div>
         <div class="head head-2"><form action="" method="get"><input type="text" name="search"><input type="submit" name="confirm" value="поиск"></form></div>
      </div>
      <div class="container menu">
         <ul>
             {% load menubuilder %}
             {% menu main_menu %}
             {% for menu in menuitems %}
      	         <li><a href="{{ menu.url }}">{{ menu.title }}</a></li>
             {% endfor %}
            <li>Приветствую тебя, <a href="{% url 'shedule:watcher' watcher.pk %}">{{ watcher.name }}</a></li>
         </ul>
      </div>
      <div class="container main">
          <div class="list">
              <ul>
                  {% for lesson in lesson_list %}
                      <li><a href="{% url 'shedule:shedule' lesson.pk %}">{{ lesson.name }}</a></li>
                  {% endfor %}
              </ul>
          </div>
          <div class="info">
              <h1>{{ current_lesson.name }}</h1>
              <p>{{ current_lesson.place }}</p>
              <p>{{ current_lesson.teacher }}</p>
              <p>{{ current_lesson.get_short_count }}</p>
              <ul>
                  {% for student in current_lesson.students.all %}
                      <li><a href="{% url 'shedule:watcher' student.pk %}">{{ student.name }}</a></li>
                  {% endfor %}
              </ul>
          </div>
      </div>
      <div class="container footer">Архив базы <b>Ц.У.Н.А.М.И.</b> ver 2.0</div>
   </body>
</html>
