<!DOCTYPE html>
<html>
   <head>
      <title>Главная страница</title>
      <meta charset="utf-8">
       {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static "/shedule/style.css" %}">
   </head>
   <body>
      <div class="container header clearfix">
         <div class="head head-1"><a href="main.html"><img src="" alt="small_logo"></a></div>
         <div class="head head-2"><form action="" method="get"><input type="text" name="search"><input type="submit" name="confirm" value="поиск"></form></div>
      </div>
      <div class="container menu">
         <ul>
             {% load menubuilder %}
             {% menu main_menu %}
             {% for menu in menuitems %}
      	         <li><a href="{{ menu.url }}">{{ menu.title }}</a></li>
             {% endfor %}
            <li>Приветствую тебя, <a href="{% url 'shedule:watcher' user.pk %}">{{ user.name }}</a></li>
         </ul>
      </div>
      <div class="container main">
          <h1>{{ watcher.name }}</h1>
          <img src="/{{ watcher.photo.url }}" alt="Здесь могла быть фотография"/>
          <p>Боевая группа: {{ watcher.bg }}</p>
          <p>Информация: {{ watcher.info }}</p>
      </div>
      <div class="container footer">Архив базы <b>Ц.У.Н.А.М.И.</b> ver 2.0</div>
   </body>
</html>
