{% extends 'base.html' %}

{% block title %}Бовые группы{% endblock %}

{% block sidemenu %}
     <ul class="nav nav-sidebar">
         {% for bg in BG_list %}
             <li><a href="{% url 'archive:bg' bg.pk %}">{{ bg }} </a></li>
         {% endfor %}
     </ul>
{% endblock %}

{% block content %}
    <div class="panel-heading">
        <h1 class="panel-title">Боевые группы</h1>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-4">
            {% if current_bg.image %}
                <img src="/{{ current_bg.image.url }}" class="img-thumbnail img-responsive" alt="Здесь могла быть ваша реклама"/>
            {% else %}
                <!-- место для картинки - заглушки-->
            {% endif %}
        </div>
        <div class="col-xs-12 col-lg-8 main">
            <p>Краткая информация:
                     <ul>
                        <li>Старший наблюдатель: {{ current_bg.last_st_nab }}</li>
                        <li>Дата основания: </li>
                     </ul>
            </p>
            <p>{{ current_bg.info }} </p>
            {%  if  current_bg.last_st_nab_id %}
                <a href="{% url 'archive:person' current_bg.last_st_nab_id %}">{{ current_bg.last_st_nab }} </a>
            {%  endif %}
        </div>
    </div>
{% endblock %}