<!DOCTYPE html>
<html>
   <head>
      <title>Главная страница</title>
      <meta charset="utf-8">
      <link href="style.css" rel="stylesheet">
   </head>
   <body>
      <div class="container header clearfix">
         <div class="head head-1"><a href="main.html"><img src="" alt="small_logo"></a></div>
         <div class="head head-2"><form action="" method="get"><input type="text" name="search"><input type="submit" name="confirm" value="поиск"></form></div>
      </div>
      <div class="container menu">
         <ul>
      	    <li><a href="#main">Персонал</a></li>
      	    <li><a href="#main">Боевые группы</a></li>
      	    <li><a href="#main">Вахты</a></li>
      	    <li><a href="#main">Высадки</a></li>
      	    <li><a href="#main">Планеты</a></li>
      	    <li><a href="#main">Расписание</a></li>
             <li>Приветствую тебя, <a href="#main">Пользователь</a></li>
         </ul>
      </div>
      <div class="container main"><img src="" alt="big_logo"></div>
      <div class="container footer">Архив базы <b>Ц.У.Н.А.М.И.</b> ver 2.0</div>
   </body>
</html>